@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Billionstar';
    src: url('./assets/fonts/Billionstar.ttf');

}

@font-face{
    font-family:'KOMIKAX';
    src:url('./assets/fonts/KOMIKAX_.ttf')
}